body, html {
    height: 100%;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Gotham Black", "Avenir Next", "Avenir", "Arial";
}
h1 {
  text-align: center;
  font-size: 50px;
  padding: 45px;
  margin-top: 50px;
}
h2 {
  padding-left: 16%;
  padding-top: 25%;
  font-size: 35px;

}
h3 {
  font-size: 22px;
}
p {
  font-family: "Gotham Book", "Proxima Nova";
  color: #C6C6C6;
  text-align: center;
  font-size: 18px;
}
section {
  width: 100%;
  height: 800px;
  float: left;
}
#nav {
  width: 100%;
  position: fixed;
  z-index: 1;
  padding: 50px;

  ul {
  width: fit-content;
  list-style-type: none;

  li {
    float:left;
    font-weight: bold;
    text-align: left;

    a {
      font-family: "Gotham Black", "Avenir Next", "Avenir", "Arial";
      color: black;
      padding: 20px;
      text-decoration: none;

      &:focus,
      &:hover {
        color: rgba(#EF724C, 0.6);
        }
      }
    }
  }
}
#landing_face {
  background: url("/images/index.jpg") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#about {
  background-image: url("/images/about2.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 40px;
  text-decoration: none;
  color: black;
  position: relative; top: 75%; left: 10%;

  &:hover {
    color: rgba(#EF724C, 0.6);
    }
}
#back_shirt {
  height: 400px;
  background: url("/images/body.jpg") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#skills {
  background-color: #f9f9f9;
}
#skills p {
  text-align: left;
  padding-left: 13%;
}
#skills .icons {
  height: 300px;
  width: 500px;
  float: right;
  margin-top: -15%;
  margin-right: 12%;
}
.icons img {
  height: 80px;
  width: 80px;
  float: center;
  padding: 20px;
}
#back_legs {
  height: 400px;
  background: url("/images/legs2.jpg") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#work {

}
#back_feet{
  height: 400px;
  background: url("/images/feet.jpg") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#footer {
  text-align: center;
  height: 100px;
  width: 100%;
  z-index: 1;
  padding: 50px;
  background-color: #eb947a;
}
#footer .fa {
  margin: 20px;
  font-size: 50px;
  width: 40px;
  text-decoration: none;
  color: black;
  position: relative; top: 75%; left: -3%;

  &:hover {
    color: rgba(#fff, 0.6);
    }
}
#grid {
  max-width:900px;
  margin:50 auto; /*center aligned*/
  padding:0;
  font-size:0; /* Remember to change it back to normal font size if have captions */
  list-style:none;
  background-color:#fff;
}
#grid li {
  display: inline-block;
  *display:inline;/*for IE6 - IE7*/
  width:25%;
  vertical-align:middle;
  box-sizing:border-box;
  margin:0;
  padding: 5px;
}
.grid-cell {
  display:block;
  position: relative;
  overflow:hidden;
}
.grid-img {
  display:block;
  width: 100%;
  height: auto;
  border:none;
  transform:scale(1);
  transition:all 1s;
}
#grid li:hover .rig-img {
    transform:scale(1.05);
}
.grid-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #fff url(img/link.png) no-repeat center 20%;
    background-size:50px 50px;
    opacity:0;
    filter:alpha(opacity=0);/*For IE*/
    transition:all 0.6s;
}
#grid li:hover .grid-overlay {
    opacity:0.8;
}
.grid-text {
    display:block;
    padding:0 30px;
    box-sizing:border-box;
    position:absolute;
    left:0;
    width:100%;
    text-align:center;
    text-transform:capitalize;
    font-size:21px;
    font-weight:bold;
    font-family: "Gotham Black", "Avenir Next", "Avenir", "Arial";
    font-weight:normal!important;
    top:40%;
    color: black;
    opacity:0;
    filter:alpha(opacity=0);/*For older IE*/
    transform:translateY(-20px);
    transition:all .3s;
}
#grid li:hover .grid-text {
    transform:translateY(0px);
    opacity:0.9;
}
@media (max-width: 9000px) {
    #grid li {
        width:25%;
    }
}
@media (max-width: 700px) {
    #grid li {
        width:33.33%;
    }
}
@media (max-width: 550px) {
    #grid li {
        width:50%;
    }
}
