---
title: MOSCC || Code & Colors
---
#body
  %section#landing
    #nav
      %ul
        %li
          %a{:href => "#about"} About
          %a{:href => "#skills"} Skills
          %a{:href => "#work"} Work
          %a{:href => "#landing"} Home

  %section#about
    %a.fa.fa-linkedin{:href => "https://www.linkedin.com/in/mathias-oscarsson-8b5988151/"}
    %a.fa.fa-facebook{:href => "https://www.facebook.com/mathias.oscarsson.1"}
    %a.fa.fa-instagram{:href => "https://www.instagram.com/mathiaoscarsson/"}

  %section#skills

  %section#work
    %h1 my work
    %p I'm not only living life to the fullest, i occasionally do some work
    %button#bemondo{:type => "button"} bemondo
    %button#mynutro{:type => "button"} mynutro
    %button#komfy{:type => "button"} komfy
    %button#elixir{:type => "button"} elixir
    %button#address{:type => "button"} adress
    %button#library{:type => "button"} library

  %section#contact

  %section#sista
