---
title: MOSCC || Code & Colors
---
#body
  %section#landing_face
    #nav
      %ul
        %li
          %a{:href => "#about"} About
          %a{:href => "#skills"} Skills
          %a{:href => "#work"} Work
          %a{:href => "#landing_face"} Home

  %section#about
    %a.fa.fa-linkedin{:href => "https://www.linkedin.com/in/mathias-oscarsson-8b5988151/"}
    %a.fa.fa-facebook{:href => "https://www.facebook.com/mathias.oscarsson.1"}
    %a.fa.fa-instagram{:href => "https://www.instagram.com/mathiaoscarsson/"}

  %section#skills
    %h2 Skills
    %p (to pay them bills)
    .icons
      %img(src="/images/icons/css3.png")
      %img(src="/images/icons/html5.png")
      %img(src="/images/icons/javascript.png")
      %img(src="/images/icons/ruby.png")
      %img(src="/images/icons/rubyrails.png")
      %img(src="/images/icons/github.png")
      %img(src="/images/icons/haml.png")
      %img(src="/images/icons/ps2.png")
      %img(src="/images/icons/ai.png")
      %img(src="/images/icons/sass.png")
      %img(src="/images/icons/sq.png")
      %img(src="/images/icons/wp.png")

    /%button#bemondo{:type => "button"} bemondo
    /%button#mynutro{:type => "button"} mynutro
    /%button#komfy{:type => "button"} komfy
    /%button#elixir{:type => "button"} elixir
    /%button#address{:type => "button"} adress
    /%button#library{:type => "button"} library

  %section#back_shirt

  %section#work
    %h1 my work
    %p I'm not only living life to the fullest, i occasionally do some work


    %ul#grid
      %li
        %a.grid-cell{:href => "#"}
          %img.grid-img{:src => "/images/work.jpg"}/
          %span.grid-overlay
          %span.grid-text bemondo
      %li
        %a.grid-cell{:href => "#"}
          %img.grid-img{:src => "/images/work.jpg"}/
          %span.grid-overlay
          %span.grid-text mynutro
      %li
        %a.grid-cell{:href => "#"}
          %img.grid-img{:src => "/images/work.jpg"}/
          %span.grid-overlay
          %span.grid-text komfy
      %li
        %a.grid-cell{:href => "#"}
          %img.grid-img{:src => "/images/work.jpg"}/
          %span.grid-overlay
          %span.grid-text elixir fitness
      %li
        %a.grid-cell{:href => "#"}
          %img.grid-img{:src => "/images/work.jpg"}/
          %span.grid-overlay
          %span.grid-text adress book
      %li
        %a.grid-cell{:href => "#"}
          %img.grid-img{:src => "/images/work.jpg"}/
          %span.grid-overlay
          %span.grid-text library







  //%section#back_legs

  //%section#back_feet
